
.manage-container {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.manage-table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.users .manage-table {
  width: 915px;
}

table.manage-table th,table.manage-table td {
  padding: 15px;
  background-color: rgb(10 169 225);
  color: #fff;
}
table.manage-table th {
  text-align: left;
}
table.manage-table thead th {
  background-color: rgb(52 185 237);
  font-family: "Abril Fatface", serif;
  letter-spacing: 0.34em;
}
table.manage-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
table.manage-table tbody td {
  position: relative;
  font-weight: bolder;
}
tr.manange-row th,td{
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    font-size: 0.9em;
    color: black;
}

.craft-button .btn {
    font-family: "Abril Fatface", serif;
    letter-spacing: 0.2em !important; 
    box-shadow: none;
    width: 22%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    position: absolute;
    right: 0px;
}

div.craft-button {
    margin-bottom: 73px;
}

.craft-button .btn:hover {
    background-color: #039BE5;
}

.craft-edit {
  color: white;
  text-decoration: unset;
}